#back{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220216/pngtree-aesthetically-hand-painted-watercolor-cloud-aircraft-background-image_930914.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login-container {
    background: url('https://source.unsplash.com/random/1600x900') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
  }
  
  .icon {
    font-size: 1.2rem; /* Adjust icon size if necessary */
    color: #6c757d; /* Match the color with the placeholder or label */
  }
  
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .ps-5 {
    padding-left: 3rem; /* Add more padding to ensure the icon does not overlap */
  }
  
  .top-50 {
    top: 50%;
  }
  
  .start-0 {
    left: 0;
  }
  
  .translate-middle-y {
    transform: translateY(-50%);
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  #user,#pass{
    text-align: start;
    padding: 8px;
  }