.card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1);
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .btn {
    font-size: 0.875rem;
  }
  
  #eventid{
    background-color: gray;
  }